NODE_ENV = "development" || "production"
PORT = 5500

BASE_URL = "http://localhost:5500"
MONGO_URI = 'mongodb+srv://USERNAME:PASSWORD@whatever'

FILE_UPLOAD_PATH = './public/uploads'
MAX_FILE_UPLOAD = 1000000

JWT_SECRET = 'loooool no secrets here'
JWT_EXPIRE = 30d
JWT_COOKIE_EXPIRE = 30
